<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>InstallHeaders.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Libm_debug.a.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>Libm_profile.a.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>Libm_static.a.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>Libm_static_iphoneos.a.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>UpdateVersionInfo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>libm for EmbeddedIOP.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>libm.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>libmCommon.a.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>libmCommon_debug.a.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>libm_iphoneos.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>libmathCommon.dylib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>libmathCommon.o.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>libmathCommon_debug.dylib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>libmathCommon_debug.o.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>libmathCommon_profile.dylib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>libmathCommon_static.o.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>libmx.A.dylib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>libmx.A_debug.dylib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>libmx.A_profile.dylib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>libmx.dylib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>libmx.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>libmx_debug.dylib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>libmx_profile.dylib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>libsystem_m.dylib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3B3049C60ABF8AD800994776</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B304A680ABF91FE00994776</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B304AF20ABF964E00994776</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B304B200ABF970E00994776</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B304BB60ABFA10F00994776</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B304BFA0ABFAAE400994776</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B304C180ABFAC8600994776</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B304C5F0ABFB03F00994776</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B304C740ABFB0C700994776</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3BC3BDBF0CD1AFDE00D8F88A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3BE6D9AE0ABF4D5C00B91802</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3BE6DA3E0ABF4DE400B91802</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3BE6DAD90ABF514B00B91802</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3BE6DBC60ABF55B600B91802</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3BFD53530AB73ECB005DA5F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3BFD54F20AB786E8005DA5F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3BFD59B10AB7EB91005DA5F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3BFD5A950AB80358005DA5F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3BFD5C090AB80587005DA5F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>58C8A7900F1688EC009B4373</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>58C8A7A00F168C0D009B4373</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>58C8A7B10F168D3C009B4373</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>63127C070E92DEB500B061BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>63127D350E92DF8500B061BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>63B329D9117E48D800BD1D26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
